<%- include('template/header') -%>

  <h1>Dashboard</h1>
  <a href="/" class="underline"> Back</a><br/><br/>

  <h4><%= dbUser.length %> user(s) Signup</h4><br/>
  <h4>
    <%= logToday %> login(s) today
    <br/>from<br/>
    <%= logUser %> user login(s) today
  </h4>
  